= form_for [@schedule, @entry], :remote => true do |f|
  %p
    = f.label "Nazwa kursu:"
    = f.text_field :course_name
  %p
    = f.label "Kod kursu:"
    = f.text_field :course_code
  %p
    = f.label "Kod grupy:"
    = f.text_field :group_code
  %p
    = f.label "Typ kursu:"
    = f.select :course_type, Plan::Config::COURSE_TYPES
  %p.week
    = f.label "Termin:"
    = f.select :week, Plan::Config::WEEKS_SELECT
    = f.select :week_day, Plan::Config::WEEK_DAYS_SELECT
  %p.time
    = f.label "Godziny:"
    = f.select :start_hour, Plan::Config::HOURS_SELECT
    = f.select :start_min, Plan::Config::MINUTES_SELECT
    %span :
    = f.select :end_hour, Plan::Config::HOURS_SELECT
    = f.select :end_min, Plan::Config::MINUTES_SELECT
  %p.location
    = f.label "Miejsce:"
    = f.text_field :building
    %span /
    = f.text_field :room
  %p
    = f.label "Prowadzący:"
    = f.text_field :lecturer
  %p.actions
    = f.submit "Zapisz", :class => "btn-generic", "data-disable-with" => "Saving..."
    = link_to "Zamknij", "#", :class => "cancel"
    - unless @entry.new_record?
      = link_to "Usuń", [@schedule, @entry], :remote => true, "data-method" => "delete", :class => "delete"