%h3 Edytuj ustawienia

= form_for @schedule, :url => schedule_color_schemes_path(@schedule), :method => "put", :remote => true do |f|
  .settings
    .schemes
      = f.fields_for :color_schemes do |ff|
        .color-scheme
          %h4= ff.object.name
          %p
            = ff.label "Tło:"
            = ff.text_field :background
          %p
            = ff.label "Obramowanie:"
            = ff.text_field :border
          %p
            = ff.label "Czcionka:"
            = ff.text_field :font
    #picker-wrap
      #picker
  %p.actions
    = f.submit "Zapisz"
    = link_to "Anuluj", "#", :class => "cancel"
    = link_to "Przywróć domyślne kolory", schedule_color_schemes_reset_path(@schedule), :class => "custom", :id => "color-schemes-reset", :remote => true, "data-method" => "post"
