!!! Strict
%html{:lang => "pl_PL", "xml:lang" => "pl_PL", :xmlns => "http://www.w3.org/1999/xhtml", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %title Generator planu PWR
    %meta{"http-equiv" => 'content-type', "content" => 'text/html; charset=utf-8'}

    = stylesheet_link_tag :application
    = javascript_include_tag :application

    = csrf_meta_tag

  %body
    #container
      #main
        %h1
          %a{:href => "/"} Generator planu PWR
          %span (i nie tylko)

      .t
        Podaj identyfikator swojego planu - http://#{request.host}/#{content_tag(:strong, "tutajJestIdentyfikator")}
        %form
          %input(required){:id => "idbox", :placeholder => "Identyfikator"}
          %input.b{:id => "btnid", :type => "button", :value => "Pobierz", :type => "button"}

      #iframes
        %iframe#plan
        %iframe#akz

      #wrapper
        #schedule{:class => @generator.schedule_cls}
          #schedule-main
            #days
              - @generator.days.each do |name, _|
                %div= name

            #hours
              - @generator.hours.each do |hour|
                %div= "%02d:00" % hour

            - @generator.days.each do |name, entries|
              .day
                - @generator.hours.each do |hour|
                  %span.sep

            #legend
              - @generator.course_types.each_pair do |name, code|
                %span{:class => "c_#{code}"}= name

      %br
      #options
        %label.t
          %input{:type => "checkbox", :class => "checkbox", :id => "bk", :checked => "true"}
          brak terminu
        %label.t
          %input{:type => "checkbox", :class => "checkbox", :id => "empty"}
          ukryj pełne grupy

      #courses

      %br
      #foot
        Generator planu PWR
        \&copy; 2009-2014 Tymon Tobolski
        %a{:href => "http://teamon.eu"} teamon.eu


