!!! Strict
%html{:lang => "pl_PL", "xml:lang" => "pl_PL", :xmlns => "http://www.w3.org/1999/xhtml", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %title Generator planu PWR
    %meta{"http-equiv" => 'content-type', "content" => 'text/html; charset=utf-8'}

    = stylesheet_link_tag "http://assets.teamon.eu/facebox/facebox.css"
    = stylesheet_link_tag "http://assets.teamon.eu/farbtastic/farbtastic.css"
    = stylesheet_link_tag :all

    = javascript_include_tag "http://assets.teamon.eu/jquery/jquery-1.5.min.js"
    = javascript_include_tag "http://assets.teamon.eu/livequery/jquery.livequery.js"
    = javascript_include_tag "http://assets.teamon.eu/farbtastic/farbtastic.js"
    = javascript_include_tag "http://assets.teamon.eu/facebox/facebox.js"
    = javascript_include_tag "http://assets.teamon.eu/jquery-ui-autocomplete.min.js"
    = javascript_include_tag "http://assets.teamon.eu/rails/rails.js"
    = javascript_include_tag :defaults

    = csrf_meta_tag

  %body{:class => request.path == "/" ? "home" : nil}
    #container
      %h2{:style=>"color: red; text-align:center;"} W związku ze zmianami w systemie Edukacja.CL mogą występować błędy. Proszę o zgłaszanie problemów na email i@teamon.eu lub w komentarzach poniżej
      #main
        %h1
          %a{:href => "/"} Generator planu PWR
          %span (i nie tylko)
        = yield
      #foot
        Generator planu PWR 1.1.8
        \&copy; 2010-2011 Tymon Tobolski
        %a{:href => "http://teamon.eu"} teamon.eu


